*.ltx     text=crlf linguist-language=INI
*.lua     text=crlf linguist-language=Lua
*.ps      text=crlf linguist-language=HLSL
*.puddles text=crlf
*.s       text=crlf linguist-language=Lua
*.script  text=crlf linguist-language=Lua
*.seq     text=crlf
*.txt     text=crlf
*.vs      text=crlf linguist-language=HLSL
*.xml     text=crlf linguist-language=XML
